body
{
    max-width: 800px;
    margin: 0 auto;
}

.address
{
    margin: auto;
    text-align: right;
}

h4{
    font-size: 1.5em;
}

p,ul,ol,dl{
    font-size: 1.1 em;
}

p,li, dd, dt{
    line-height: 1.5;
}